@tailwind base;
@tailwind components;
@tailwind utilities;

#mask {
    background: url('../public/homebg.jpg');
    color: transparent;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}